.wildlife-title {
  font-size: 44px;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, sans-serif;
}

/* .wildlife-list {
  list-style: none;
  margin: 0;
  padding: 0;
} */

li {
  font-size: 24;
  font-weight: 400;
  font-style: italic;
  font-family: Arial, sans-serif;
  width: 400px;
  border: 2px solid black;
  padding: 20px;
  margin: 5px;
  margin-bottom: 20px;
  padding-right: 200px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wildlife-description {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-family: Arial, sans-serif;
}

.wildlife-image {
  background-color: aquamarine;
  background-image: url(./animals.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  width: 400px;
  height: 500px;
}

#lion {
  background-color: burlywood;
  background-image: url(./lion.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 225px;
  height: 150px;
  padding-right: 400px;
}

#tiger {
  background-color: orange;
  background-image: url(./tiger.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 225px;
  height: 150px;
  padding-right: 400px;
}

#elephant {
  background-color: #797979;
  background-image: url(./elephant.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 225px;
  height: 150px;
  padding-right: 400px;
}

#cheetah {
  background-color: rgb(245, 240, 76);
  background-image: url(./cheetah.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 225px;
  height: 150px;
  padding-right: 400px;
}

#zebra {
  background-color: rgba(35, 35, 35, 0.683);
  background-image: url(./zebra.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 225px;
  height: 150px;
  padding-right: 400px;
}

#giraffe {
  background-color: chocolate;
  background-image: url(./giraffe.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 225px;
  height: 150px;
  padding-right: 400px;
}
